version: '3'
services:
    pihole:
        image: pihole/pihole:latest
        container_name: pihole
        restart: unless-stopped
        ports:
            - "53:53/tcp"
            - "53:53/udp"
            - "${PIHOLE_PORT_HTTP}:80"
            - "${PIHOLE_PORT_HTTPS}:443"
        environment:
            - TZ=${TZ}
            - WEBPASSWORD=${PIHOLE_ADMIN_PASSWORD}
            - PIHOLE_UID=${PUID}
            - PIHOLE_GID=${PGID}
        volumes:
            - ${PIHOLE_DIR}/etc/pihole:/etc/pihole
            - ${PIHOLE_DIR}/etc/dnsmasq.d:/etc/dnsmasq.d
        dns:
            - 1.1.1.2
    uptime-kuma:
        image: louislam/uptime-kuma:2
        restart: unless-stopped
        volumes:
            - ${UPTIME_KUMA_DIR}:/app/data
        ports:
            - "${UPTIME_KUMA_PORT}:3001"
