version: '3'
services:
    pihole:
        image: pihole/pihole:latest
        container_name: pihole
        restart: unless-stopped
        ports:
            - "53:53/tcp"
            - "53:53/udp"
            - "${PIHOLE_PORT_HTTP}:80/tcp"
            - "${PIHOLE_PORT_HTTPS}:443/tcp"
        environment:
            - TZ=${TZ}
            - FTLCONF_webserver_api_password=${PIHOLE_ADMIN_PASSWORD}
            - FTLCONF_dns_listeningMode=ALL
            - PIHOLE_UID=${PUID}
            - PIHOLE_GID=${PGID}
        volumes:
            - ${BASE_DIR}/pihole/etc/pihole:/etc/pihole
        dns:
            - 1.1.1.2
