version: '3'
services:
    node-red-init:
        image: alpine:latest
        container_name: node-red-folder-rights
        user: "root"
        volumes:
            - ${BASE_DIR}/node-red/data:/data
        command: chown -R ${PUID}:${PGID} /data
    node-red:
        # use latest when running on newer raspberry pi
        image: nodered/node-red:1.2.0-10-arm32v6
        container_name: node-red
        environment:
            - TZ=${TZ}
        ports:
            - "${NODERED_PORT}:1880"
        volumes:
            - ${BASE_DIR}/node-red/data:/data
